<app-nav-proveedor></app-nav-proveedor>


<div class="component-container">
  <div class="page-head">
    <i class="fa fa-chevron-left fa-3x" id="return" aria-hidden="true" routerLink="/menu-proveedor"></i>
    <h1 class="page-title">{{ titulo }}</h1>
  </div>
  <div class="page-main">
    <div class="page-section">
      <div class="row">
       <div class="col-md-6">
         <div class="form-group" style="padding-top: 5%">
         <input type="text"   class="form-control col-md-4" placeholder="Nombre del Cliente">
         </div>
         <ul class="list-group" style="padding-top: 5%">
           <li class="list-group-item">Cras justo odio</li>

         </ul>
       </div>
        <div class="col-md-6">
          <ul class="list-group" style="padding-top: 5%">
              <li class="list-group-item">Nombre:</li>
            <li class="list-group-item">Apellido</li>
            <li class="list-group-item">Estado</li>
            <li class="list-group-item">Saldo Actual</li>
            <li class="list-group-item">Gatos</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
