<app-nav-proveedor></app-nav-proveedor>
<div class="jumbotron hero">
  <div id="menu">
    <div class="container work-container">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="cliente">Cliente:</label>
              <label id="lblNombre">Nombre Apellido</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="listaProductos">Lista de productos</label>
              <textarea class="form-control" id="txtDecripcion" rows="10"></textarea>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label>Detalle de compra</label>
              <div class="well">
                <div class="form-group">
                  <label>Id:</label>
                </div>
                <div class="form-group">
                  <label>Fecha / Hora:</label>
                </div>
                <div class="form-group">
                  <label>Lugar:</label>
                </div>
                <hr>
                <div class="form-group">
                  <label>Total:</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar
        </button>
        <button type="submit" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
        </button>
      </form>
    </div>
  </div>
</div>
