<app-nav></app-nav>

<div class="component-container">
  <div class="page-head">
    <i class="fa fa-chevron-left fa-3x" id="return" aria-hidden="true" routerLink="/menu-admin"></i>
    <h1 class="page-title">{{ titulo }}</h1>
  </div>
  <div class="page-main">
    <div class="page-section">
      <div class="row">
        <button class="btn btn-success" (click)="modalCrear.open()"><span class="glyphicon glyphicon-plus"></span> Crear nuevo producto</button>
        <table class="table table-hovered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Veces Compradas</th>
              <th>Imagen</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let produc of productos | async | paginate: { itemsPerPage: 5, currentPage: p }">


              <td class="text-center">{{produc.nombre}}</td>
              <td class="text-center">{{produc.precio}}</td>
              <td class="text-center">{{produc.veces}}</td>
              <td class="text-center"><img src="{{produc.imagen}}" class="img-rounded" alt="Cinque Terre" ></td>

              <td><button class="btn btn-primary btn-sm" (click)="openModalProductoEditar(produc.$key, produc.nombre, produc.precio, produc.veces)"><span class="glyphicon glyphicon-pencil"></span> </button></td>

              <td><button class="btn btn-danger btn-sm" (click)="openModalProductoEliminar(produc.$key, produc.nombre, produc.precio, produc.veces)"><span class="glyphicon glyphicon-remove"></span> </button></td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>

</div>




<!-- Modal Eliminar -->
<modal #modalProductoEliminar>
  <modal-header [show-close]="true">
      <h4 class="modal-title">¿Desea Eliminar este Producto?</h4>
  </modal-header>

  <modal-body>
    Nombre: {{ producto.nombre }}
  </modal-body>

  <modal-footer>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteProducto()"><span class="glyphicon glyphicon-check"></span> Confirmar</button>
      <button type="button" class="btn btn-danger" (click)="modalEliminar.close()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
  </modal-footer>
</modal>

<!-- Modal Crear -->
<modal #modalProductoCrear>
  <modal-header [show-close]="true">
      <h4 class="modal-title">Registro De Nuevo Producto</h4>
  </modal-header>

  <modal-body>
      <div class="form-group">
          <label class="col-lg-3 control-label">Nombre:</label>
          <div class="col-lg-6">
              <input type="text" class="form-control" name="txtnombre" placeholder="Ingrese el nombre" [(ngModel)]="producto.nombre">
          </div>
      </div>

      <div class="form-group">
          <label class="col-lg-3 control-label">Precio:</label>
          <div class="col-lg-6">
              <input type="text" class="form-control" name="txtprecio" placeholder="Ingrese el Precio" [(ngModel)]="producto.precio">
          </div>
      </div>

      <div class="form-group">
          <label class="col-lg-3 control-label">Veces:</label>
          <div class="col-lg-6">
              <input type="text" class="form-control" name="txtveces" placeholder="Ingrese las Veces Compradas" [(ngModel)]="producto.veces">
          </div>
      </div>

      <div class="form-group">
          <label class="col-lg-3 control-label">Imagen:</label>
          <div class="col-lg-6">
              <input id="file" name="file" type="file" [(ngModel)]="producto.imagen" />
          </div>
      </div>

    </modal-body>

  <modal-footer>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addProducto()"><span class="glyphicon glyphicon-check"></span> Confirmar</button>
      <button type="button" class="btn btn-danger" (click)="modalCrear.close()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
  </modal-footer>
</modal>

<!-- Modal Editar -->
<modal #modalProductoModificar>
  <modal-header [show-close]="true">
      <h4 class="modal-title">¿Desea Editar este Producto?</h4>
  </modal-header>

  <modal-body>
      <div class="form-group">
          <label class="col-lg-3 control-label">Nombre:</label>
          <div class="col-lg-6">
              <input type="text" class="form-control" name="txtnombre" [value]="producto.nombre" [(ngModel)]="producto.nombre" placeholder="Ingrese el nombre" />
          </div>
      </div>
    <div class="form-group">
          <label class="col-lg-3 control-label">Precio:</label>
          <div class="col-lg-6">
              <input type="text" class="form-control" name="txtprecio" [value]="producto.precio" [(ngModel)]="producto.precio" placeholder="Ingrese el precio" />
          </div>
      </div>

      <div class="form-group">
          <label class="col-lg-3 control-label">Veces:</label>
          <div class="col-lg-6">
              <input type="text" class="form-control" name="txtveces" [value]="producto.veces" [(ngModel)]="producto.veces" placeholder="Ingrese las veces" />
          </div>
      </div>

    </modal-body>

  <modal-footer>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateProducto()"><span class="glyphicon glyphicon-check"></span> Confirmar</button>
      <button type="button" class="btn btn-danger" (click)="modalModificar.close()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
  </modal-footer>
</modal>

<!--
 <h2>Upload a File</h2>
  <form ngNoForm>
    <input id="file" name="file" type="file" />
    <button (click)="upload()" type="button">Upload</button>
    </form>
    <h2>File Gallery</h2>
    <div style="overflow:hidden;">
        <div *ngFor="let img of imageList | async" style="position:relative;width:100px;height:100px;float:left;display:flex;justify-content:center;align-items:center;">
            <img [src]="img.downloadURL | async" style="max-width:100px;max-height:100px;">
            <button (click)="delete(img)" style="position:absolute;top:2px;right:2px;">[x]</button>
        </div>
    </div>

-->
