<app-nav></app-nav>
<div class="component-container">
	<div class="page-head">
		<i class="fa fa-chevron-left fa-3x" id="return" aria-hidden="true" routerLink="/menu-admin"></i>
		<h1 class="page-title">{{ titulo }}</h1>
	</div>
	<div class="page-main">
		<div class="page-section">
			<div class="row">
				<table class="table table-hovered">
					<thead>
						<tr>
					  		<th>Nombre</th>
					  		<th>Afiliaci&oacute;n</th>
					  		<th>Estado</th>
					  		<th>Proveedor</th>	  		
					  	</tr>
					</thead>  
					<tbody>
						<tr *ngFor="let cli of clientes | async | paginate: { itemsPerPage: 10, currentPage: p }">
							<td>{{ cli.nombre }}</td>
							<td>{{ cli.fecha_Afiliacion }}</td>
							<td>{{ cli.estado ? 'Activo' : 'Inactivo' }}</td>
							<td [ngSwitch]="cli.proveedor">
								<span *ngSwitchCase="false">
									<button class="btn btn-sm btn-success" (click)="openModalCliente(cli.$key, cli.nombre, cli.codigoQR)"><span class="glyphicon glyphicon-plus"></span></button>	
								</span>
								<span *ngSwitchDefault>
									<button class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-user"></span></button>	
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- Pagination -->
				<pagination-controls (pageChange)="p = $event"></pagination-controls>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<modal #modalCliente>
	<modal-header [show-close]="true">
		<h4 class="modal-title">¿Desea promover a este cliente a proveedor?</h4>	  		
	</modal-header>

	<modal-body>
		<div class="form-group">
			<h5>Nombre: {{ cliente.nombre }}</h5>
		</div>
	</modal-body>

	<modal-footer>
	  	<button type="button" class="btn btn-primary col-lg-5" data-dismiss="modal" (click)="updateToProveedor()"><span class="glyphicon glyphicon-check"></span> Confirmar</button>	  				
	  	<button type="button" class="btn btn-danger col-lg-5" (click)="modal.close()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
	  			
	</modal-footer>
</modal>

<modal #modalMensaje>
	<modal-header [show-close]="true">
		<h4 class="modal-title">Mensaje</h4>	  		
	</modal-header>

	<modal-body>
		<div class="form-horizontal">
			<div class="form-group">
				<h3>{{ mensaje }}</h3>
			</div>
		</div>
	  	 
	</modal-body>

	<modal-footer>	  				
	  	<button type="button" class="btn btn-danger" (click)="modalMensaje.close()"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
	  			
	</modal-footer>
</modal>

